<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HI!</title>
</head>
<body>
<h1>Hello, It is the flask application - web calculator</h1>
<P>URL: "/calc/x/y/choice"></P>
<p>Functions for using:</p>
<p>'sum' or '+' to add two numbers</p>
<p>'sub' or '-' to subtract two numbers</p>
<p>'div' or '/' to divide two numbers</p>
<p>'mul' or '*' to multiply two numbers</p>
</body>
</html>
