<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                   aria-label="Blog Cursor">
                    <span class="fs-5">|Blog Cursor|</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">My blog. CURSOR EDUCATION</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/info">Info</a></li>
                    <li class="mb-2"><a href="/home">Home</a></li>
                    <li class="mb-2"><a href="/help">Help</a></li>
                    <li class="mb-2"><a href="/contacts">Contacts</a></li>
                    <li class="mb-2"><a href="/about_us">Docs</a></li>
                    <li class="mb-2"><a href="/about_us">About us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
