<h1>{{ object.model.brand.name }} {{ object.model.name }}</h1>
<div>
    <ul>
        <li>Dealer: {{ object.model.title }}</li>
        <li>Model: {{ object.model.brand.name }}</li>
        <li>Color: {{ object.color.name }}</li>
        <li>Engine Type: {{ object.engine_type }}</li>
        <li>Fuel Type: {{ object.fuel_type }}</li>
        <li>Capacity: {{ object.capacity }}</li>
        <li>Gear: {{ object.gear_case }}</li>
        <li>Engine Power: {{ object.engine_power }}</li>
        <li>Doors: {{ object.doors }}</li>
        <li>Sitting place: {{ object.sitting_place }}</li>
        <li>Pollutant Type: {{ object.pollutant_type }}</li>
        <li>Number of a car: {{ object.number }}</li>
        <li>Date of Registration: {{ object.first_date_registration }}</li>
        <li>Price: {{ object.price }}$</li>
    </ul>
</div>